${yamlencode({
            "global": {
              "edpName": "edp",
              "dnsWildCard": dns_wildcard,
              "webConsole": {
                "url": web_console_url
              }
              "platform": "kubernetes",
              "admins": admins,
              "developers": developers
            }
            "keycloak-operator": {
              "keycloak": {
                "url": keycloak_url
              }
            }
            "dockerRegistry": {
              "enabled": true,
              "url": docker_registry_url
            }
            "edp": {
              "adminGroups": [ "edp-admin" ],
              "developerGroups": [ "edp-developer" ]
            }
            "kanikoRoleArn": kaniko_role_arn
})}
